@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-darkGray;
    @apply font-ubuntu;
  }
}

@layer components {
  .btn {
    background-color: #fdeb37;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .subscribeBgImage{
    background-image: url("./assets/images/girls.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
